# Terraform
*.tfplan
*.tfstate
*.backup
.terraform/

# Packer
*.secret
*.keyring
*auto.tfvars
*.pkrvars.*
ceph/

#Claud
CLAUDE.md
.claude
plans/

# Home Assistant
google_assistant.yaml
secrets.yaml
service_account.json

