# This map defines the Nomad jobs map that is consumed by nomad_jobs.tf
# Each job in the map can contain it's own template vars e.g. coredns = {version="x.x.x", cpu=250, ram=256}

nomad_jobs = {
  storage_services = {
    jobs = {
      storage-controller = {}
      storage-node       = {}
    }
  }

  data_services = {
    jobs = {
      influxdb = {}
      mongodb8 = {}
      pgweb    = {}
      postgres = {}
    }
  }

  network_services = {
    jobs = {
      auth               = {}
      cloudflared        = {}
      coredns            = {}
      keepalived         = {}
      traefik            = {}
      unifi              = {}
    }
  }

  logging_services = {
    jobs = {
      grafana            = {}
      loki               = {}
      prometheus         = {}
    }
  }  
  
  core_services = {
    jobs = {
      docker-cleanup     = {}
      home-assistant     = {}
      journalctl-cleanup = {}
      matter             = {}
      mosquitto          = {}
      motioneye          = {}
      nomad-cleanup      = {}
      vaultwarden        = {}
    }
  }

  media_services = {
    jobs = {
      flaresolverr       = {}
      jellyfin           = {}
      plex               = {}
      prowlarr           = {}
      radarr             = {}
      sabnzbd            = {}
      sonarr             = {}
      transmission       = {}
    }
  }

  standard_services = {
    jobs   = {
      drawio             = {}
      emulatorjs         = {}
      n8n                = {}
      nginx              = {}
      ollama             = {}
      wikijs             = {}
    }
  }  
}