# These vars feed nomad_vars.tf which in turn
# populates Nomad Variables with env job vars

nomad_vars = {
  auth = {
    vars = {
      AUTH_HOST                      = "auth.example.com"
      COOKIE_DOMAIN                  = "example.com"
      INSECURE_COOKIE                = "true"
      LOG_LEVEL                      = "DEBUG"
      PROVIDERS_GOOGLE_CLIENT_ID     = "GOOGLE-CLIENT-ID"
      PROVIDERS_GOOGLE_CLIENT_SECRET = "GOOGLE-CLIENT-SECRET"
      SECRET                         = "AUTH-SECRET"
      WHITELIST                      = "user@example.com"
    }
  }

  cloudflared = {
    vars = {
      CLOUDFLARED_TUNNEL_TOKEN = "CLOUDFLARED-TUNNEL-TOKEN"
    }
  }

  grafana = {
    vars = {
      GRAFANA_URL        = "https://grafana.example.com"
      GF_PATHS_DATA      = "/var/lib/grafana"
      GRAFANA_EMAIL      = "user@example.com"
      GRAFANA_PASSWORD   = "GRAFANA-PASSWORD"
      GF_INSTALL_PLUGINS = "grafana-piechart-panel"
    }
  }

  influxdb = {
    vars = {
      DOCKER_INFLUXDB_INIT_BUCKET   = "default"
      DOCKER_INFLUXDB_INIT_MODE     = "setup"
      DOCKER_INFLUXDB_INIT_ORG      = "example"
      DOCKER_INFLUXDB_INIT_PASSWORD = "INFLUXDB-PASSWORD"
      DOCKER_INFLUXDB_INIT_USERNAME = "INFLUXDB-USERNAME"
    }
  }

  mongo = {
    vars = {
      MONGO_DBNAME               = "exampledb"
      MONGO_USER                 = "exampleuser"
      MONGO_PASS                 = "MONGO-PASSWORD"
      MONGO_INITDB_ROOT_USERNAME = "root"
      MONGO_INITDB_ROOT_PASSWORD = "MONGO-ROOT-PASSWORD"
      MONGO_AUTHSOURCE           = "admin"
    }
  }

  mqtt = {
    vars = {
      USER     = "exampleuser"
      PASSWORD = "MQTT-PASSWORD-HASH"
    }
  }

  postgres = {
    vars = {
      POSTGRES_ROOT_USER     = "postgres"
      POSTGRES_ROOT_PASSWORD = "POSTGRES-PASSWORD"
      POSTGRES_DB            = "postgres"
      PGDATA                 = "/var/lib/pgsql/data"
    }
  }

  unifi = {
    vars = {
      MONGO_DBNAME               = "exampledb"
      MONGO_USER                 = "exampleuser"
      MONGO_PASS                 = "MONGO-PASSWORD"
      MONGO_INITDB_ROOT_USERNAME = "root"
      MONGO_INITDB_ROOT_PASSWORD = "MONGO-ROOT-PASSWORD"
      MONGO_HOST                 = "mongo.service.consul"
      MONGO_PORT                 = "27017"
      MONGO_AUTHSOURCE           = "admin"
    }
  }

  samba = {
    vars = {
      NAME = "example-share"
      USER = "exampleuser"
      PASS = "SAMBA-PASSWORD"
    }
  }
}
