      GRAFANA_URL        : https://grafana.${domain}
      GF_PATHS_DATA      : /var/lib/grafana
      GRAFANA_EMAIL      : ${email}
      GRAFANA_PASSWORD   : ${grafana_password}
      GF_INSTALL_PLUGINS : grafana-piechart-panel