#cloud-config
hostname: ${hostname}
manage_etc_hosts: true
users:
  - default
  - name: ${ciuser}
    groups: sudo
    shell: /bin/bash
    sudo: ['ALL=(ALL) NOPASSWD:ALL']
    ssh_authorized_keys:
      - ${sshkey}

chpasswd:
  list: |
    ${ciuser}:${cipassword}
  expire: False

package_update: false

# Role-specific config (consul, nomad)
write_files:

  - path: /etc/dhcpcd.conf
    content: |
      nohook resolv.conf

  - path: /etc/consul.d/consul.hcl
    content: |
%{ if role == "manager" ~}
${indent(6, "\n${consul_manager_hcl}")}
%{ else ~}
${indent(6, "\n${consul_worker_hcl}")}
%{ endif ~}

  - path: /etc/nomad.d/nomad.hcl
    content: |
%{ if role == "manager" ~}
${indent(6, "\n${nomad_manager_hcl}")}
%{ else ~}
${indent(6, "\n${nomad_worker_hcl}")}
%{ endif ~}

  - path: /etc/docker/daemon.json
    content: |
%{ if role == "worker" ~}
${indent(6, "\n${registry_mirror}")}
%{ endif ~}

runcmd:
# We only want storage mounted on our worker nodes
%{ if role == "worker" && use_host_storage ~}
  -  echo "${storage_mount}" >> /etc/fstab
%{ endif ~}
  - systemctl daemon-reload
  - mount -a
  - systemctl enable --now consul  
  - systemctl enable --now nomad
  - echo "nameserver ${nameserver}" > /etc/resolv.conf
  - echo "done" > /tmp/cloud-config.done